<div class="container-fluid" ng-if="photoController.photoList">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="photos">
                <div class="thumbnail photo-list-item"
                    ng-repeat="photo in photoController.photoList |
                    filter: $scope.query" >
                    <a class="thumb" style="background-image: url('{{ photo.media.m }}')" href="{{ photo.link }}" target="_blank">
                        <div class="overlay">
                            <div class="title">{{photo.title | limitTo : 50 : 0}}<span ng-if="photo.title.length > 50">...</span></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
